header {
    font-size: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.score-container {
    font-size: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
}