body {
    background-color: lightblue;
}
header {
    font-size: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}
.score-container {
    font-size: 48px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}