body {
    background-color: black;
}
header {
    color: white;
    font-size: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}
.score-container {
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.user-score {
    color: red;
}